h2 { margin-bottom: 0px; padding-right: 10px;}
.float-left { float: left; }
.clear { clear: both; }
.person { width: 10px; }

.people-holders { min-height: 19px; width: 200px; }

h3 {
	margin-top: 0px;
	font-size: 1.2em;
	color: white;
	text-rendering: auto;
	border-bottom: 1px solid white;
}

h4 {
	color: white;
	font-size: 1em;
	margin: 8px 0 5px 0;
}

.subhead { margin-top: 30px; display:block; }
.opening-container {
	position: relative;
}

.instructions {
	position: absolute;
	top: 10px;
	left: 40%;
}

.survival-counter, .survival-counter-background {
	position: absolute;
	top: 0px;
	left: 15px;
}

.survival-counter {
	padding: 15px;
}

.survival-counter-background {
	background-color: #202020;
	opacity: 0.8;
	width: 233px;
	height: 680px;
	border-top: -1px solid black;
	-moz-box-shadow: -1px 4px 9px #000000;
	-webkit-box-shadow: -1px 4px 9px #000000;
	box-shadow: -1px 4px 9px #000000;
}

#alert-box {
	top: 10px;
	right: 25px;
	background-color: #202020;
	border: 1px solid black;
	opacity: 0.8;
	color: white;
	padding: 15px;
	position: absolute;
	display: none;
	-moz-box-shadow: 5px 4px 9px #000000;
	-webkit-box-shadow: 5px 4px 9px #000000;
	box-shadow: 5px 4px 9px #000000;
	border-radius: 5px;
}