h2 { margin-bottom: 0px; padding-right: 10px;}
.float-left { float: left; }
.clear { clear: both; }
.person { width: 10px; }
.padding-top { padding: 30px 0 0 0;}

.people-holders { min-height: 19px; width: 200px; }

h3 {
	margin-top: 0px;
	font-size: 1.2em;
	color: white;
	text-rendering: auto;
	border-bottom: 1px solid white;
	text-shadow: 1px 0 3px #000;
}

h4 {
	color: white;
	font-size: 1em;
	margin: 8px 0 5px 0;
	text-shadow: 1px 0 3px #000;
}

.subhead { margin-top: 30px; display:block; }
.opening-container {
	position: relative;
}

.instructions-background {
	position: absolute;
	top: 0px;
	left: 248px;
	background-color: black;
	height: 680px;
	width: 737px;
	opacity: 0.8;
}

.instructions {
	position: absolute;
	color: #ccc;
	top: 100px;
	left: 340px;
	width: 540px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	line-height: 22px;
	text-shadow: 1px 0 3px #000;
}

.instructions h2 {
	color: white;
	text-shadow: 1px 0 3px #000;

}

.survival-counter, .survival-counter-background {
	position: absolute;
	top: 0px;
	left: 15px;
}

.survival-counter {
	padding: 15px;
}

.survival-counter-background {
	background-color: #202020;
	opacity: 0.8;
	width: 233px;
	height: 680px;
	border-top: -1px solid black;
	-moz-box-shadow: -1px 4px 9px #000000;
	-webkit-box-shadow: -1px 4px 9px #000000;
	box-shadow: -1px 4px 9px #000000;
}

#alert-box {
	top: 10px;
	right: 25px;
	background-color: #202020;
	border: 1px solid black;
	opacity: 0.8;
	color: white;
	padding: 15px;
	position: absolute;
	display: none;
	-moz-box-shadow: 5px 4px 9px #000000;
	-webkit-box-shadow: 5px 4px 9px #000000;
	box-shadow: 5px 4px 9px #000000;
	border-radius: 5px;
}

#hospital-box {
	color: white;
	width: 200px;
	font-size: 13px;
	height: 312px;
	overflow: auto;
	overflow-x:hidden;
}

#hospital-box .alert {
	margin-bottom: 10px;
}

a.start {
	padding: 16px 0px;
	width: 540px;
	cursor: pointer;

	display: block;
	background-color: #65ab67;
	color: white;
	text-align: center;
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Helvetica Neue","Arial",sans-serif;
	font-size: 16px;
	border: 1px solid #688b68;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 0px rgba(255,255,255,0.3),1px 1px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 0px rgba(255,255,255,0.3),1px 1px 0 rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 0px rgba(255,255,255,0.3),1px 1px 0 rgba(0,0,0,0.3);
	text-shadow: rgba(0,0,0,0.3) 0px -1px 1px;
}